nav.nav__languages
 .container.nav__top(data-aos="fade-down") 
  p.nav__top__text "Transportda axborot tizimlari va texnologiyalari" kaferasi
  .nav__top__language 
   #google_translate_element
header.header.animate__backInDown
 .container 
  .header__top(data-aos="fade-right")
   img(src="images/icon.webp").header__img
   .header__title-block 
    h3.header__titleuz Transportda axborot tizimlari va texnologiyalari
   .header__call-block
    i.fas.header__call-block__icon 
    .header__contact
     a(href="tel:+99871 299-02-43").link__hover.header__contact__tel +99871 299-02-43
     a(href="tel:+99871 299-02-34").link__hover.header__contact__tel +99871 299-02-34
     a(href="mailto:tdtu _at@mail.ru").link__hover.header__contact__mail tdtu _at@mail.ru
   .header__adress-block
    i.fas.header__adress-block__icon
    .header__contact
     h5.header__contact__text Odilxojayev 1
     p.header__contact__text O’zbekiston, Tashkent
nav.nav(data-aos="flip-up")
 .container
  button.nav__btn
   span.nav__btn-line
   span.nav__btn-line
   span.nav__btn-line
  ul.nav__list
    li.nav__items
     a(href="#!").link__hover.nav__link Sahifa
    li.nav__items
     a(href="#content").link__hover.nav__link Kafedra tarixi
    li.nav__items
     a(href="#history").link__hover.nav__link Hodimlar haqida
    li.nav__items
     a(href="#news").link__hover.nav__link Yangiliklar
    li.nav__items
     a(href="#contact").link__hover.nav__link Taklif va murojatlar
  //-  each link in ['Bosh sahifa', 'Kafedra tarixi', 'Kafedra tarkibi', 'Yangiliklar', 'Talabalar', 'Yo’nalishlar']