section.contact#contact
 .container 
  h2.title Biz bilan bog’laning
  .contact-block 
   .contact__images
    img(src="images/contact.webp", alt="we are listening").contact__img
   .contact__info
    input(type="text", name="" placeholder="your name").contact__input
    input(type="email", name="" placeholder="your email").contact__input
    textarea(name="", cols="30", rows="10" placeholder="taklif va iltimoslar").contact__textarea
    button.contact__button
     a(href="#!").link__hover.contact__link Yuborish