section.kafedra-content.sections-body#content
 .container 
  .content 
   h2.title Kafedra hodimlari
   .content__block(data-aos="fade-up") 
    .content__teacher 
     img(src="images/teacher_1.webp", alt="teacher").content__img
    .content__profession 
     h5.content__title Dotsent, Kafedra mudiri 
     .content__info
      p.content__text  Rasulmuxamedov Muxamadaziz Maxamadaminovich
                     
                      
                      
    .content__tel 
     h5.content__title Telefon raqami
     .content__info
      a(href="tel:+998 71 299 03 76").link__hover.link__hover.content__tel__num +998 71 299 03 76
    .content__mail 
     h5.content__title Email
     .content__info
      a(href="mailto:mrasulmuxamedov@mail.ru").link__hover.link__hover.content__mail__text mrasulmuxamedov@mail.ru
    .content__web
     h5.content__title Ijtimoiy tarmoq
     .content__web__links
      a(href="").link__hover.link__hover.content__link
       i.fab.content__tg
      a(href="").link__hover.link__hover.content__link
       i.fab.content__instg
      a(href="").link__hover.link__hover.content__link
       i.fab.content__fb
   .content__block(data-aos="fade-up") 
    .content__teacher 
     img(src="images/teacher_2.webp", alt="teacher").content__img
    .content__profession 
     h5.content__title O'quv tajribasi: katta o'qituchi
     .content__info
      p.content__text Babina
      p.content__text Viktoriya
      p.content__text Gennadevna
    .content__tel 
     h5.content__title Telefon raqami
     .content__info
      a(href="tel:+998 71 299 03 76").link__hover.content__tel__num +998 71 299 03 76
    .content__mail 
     h5.content__title Email
     .content__info
      a(href="mailto:Viktoriya@mail.ru").link__hover.content__mail__text Viktoriya@mail.ru
    .content__web
     h5.content__title Ijtimoiy tarmoq
     .content__web__links
      a(href="").link__hover.content__link
       i.fab.content__tg
      a(href="").link__hover.content__link
       i.fab.content__instg
      a(href="").link__hover.content__link
       i.fab.content__fb
   .content__block(data-aos="fade-up") 
    .content__teacher 
     img(src="images/teacher_3.webp", alt="teacher").content__img
    .content__profession 
     h5.content__title O'quv tajribasi: katta o'qituchi
     .content__info
      p.content__text Boltaev
      p.content__text Avaz
      p.content__text Xudoyberdievich
    .content__tel 
     h5.content__title Telefon raqami
     .content__info
      a(href="tel:+998 71 299 03 76").link__hover.content__tel__num +998 71 299 03 76
    .content__mail 
     h5.content__title Email
     .content__info
      a(href="mailto:avaz11@mail.ru").link__hover.content__mail__text avaz11@mail.ru
    .content__web
     h5.content__title Ijtimoiy tarmoq
     .content__web__links
      a(href="").link__hover.content__link
       i.fab.content__tg
      a(href="").link__hover.content__link
       i.fab.content__instg
      a(href="").link__hover.content__link
       i.fab.content__fb