section.kafedra#history
 .container
  .kafedra__block
   h2.kafedra__title “Transportda axborot tizimlari va texnologiyalari” kafedrasi
   .kafedra__info 
    p.kafedra__text Kafedra 1966-yili iqtisodiyot muhandisligi fakulteti tarkibida tashkil etilgan bo’lib, uning dastlabki nomi “Hisoblash texnikasi, boshqaruv va matematik metodlarni rejalashtirish” bo’lgan. Kafedraga 1966-1976 yillari Sh.S.Karimov, 1976-1980 yillari Pechnikov A.V. , 1981-2010 yillari Aliev M.M.,  2010-yildan boshlab hozirgi vaqtgacha Rasulmuxammedov M.M. rahbarlik vazifalarini bajarishgan.
    p.kafedra__text Kafedra a’zolari: Goncharova G.N., Fedotov V.D., Burkin V.V.,  Rubin V.S.,  Zavyalova G.A.,  Biykova G.V.,  Drujinin M.M.,  Artyuxov N.N.,  Puzikov V.V.,  Pozdnyakova L.A. lar bo’lishgan. 1981 yilgacha kafedradagi o’quv mashg’ulotlari Ural-2, Ural-14 mexanik hisoblovchi mashina va boshqa hisoblash mashinalaridan foydalanishgan. 
    p.kafedra__text 1981-yildan boshlab kompyuter texnikalarini doimiy yangilab turish bosqichi yo’lga qo’yilgan. Kafedrada yangi hisoblash mashinalari bosqichma-bosqich o’quv jarayoniga EHM ning 3 avlodi tatbiq etila boshlandi. 
    p.kafedra__text 2000-yili institutning ushbu kafedrada dastlabki lokal tarmoqishlatila boshlandi. Hozirgi davrda kafedra labaratoriyalarida zamonaviy ikkiprotssesorlik kompyuterlar ishlatilayotgan bo’lib ular internet korparativ tarmog’iga ulangan, internetga chiqish uchun ikkita auditoriya multimediya qurilmalari bilan jihozlangan. 
    p.kafedra__text O’quv jarayonida interaktiv ta’lim, talimning avtomatlashtirilgan tizimi va nazorati, virtual usullar, masofaviy ta’lim kabi zamonaviy metodlardan foydalanib kelinmoqda. Kafedraga tegishli sayt va electron kutubxonasi mavjud bo’lib, unda barcha kafedralarning o’quv adabiyotlari yoritilgan. 
    p.kafedra__text Kafedra 2002-yili “Informatika va axborot texnologiyalari” nomi bilan o’zgartirildi. O’zbekiston Respublikasi Vazirlar Mahkamasi qaroriga asosan axborot tizimlari va texnologiyalari mutaxasislarini tayyorlashga qaratilgan qarorga muvofiq, 2005-yili ,,Informatika va axborot texnologiyalari’’ kafedrasi “Temir yo’l transportida axborot tizimlari” nomini oldi, va mutaxassis tayyorlovchi yo’nalishga ega bo’ldi. 
    p.kafedra__text Yo’nalish nomi <span class="kafedra__span">5523200-AT</span> hozirda kafedrada yetuk mutaxassislar faoliyat olib bormoqdalar. 
    p.kafedra__text Kafedra <span class="kafedra__span">B5523200 (“Axborot tizmalari”)</span>, <span class="kafedra__span">5521900 va 5330200 (“Informatika va axborot texnologiyalari”)</span> yo`nilishi bo`yicha mutaxassis tayyorlaydi, 17 fan bo`yicha mashg`ulotlar bo`yicha olib boriladi, zamonaviy dasturlash texnologiyalari, quyi va yuqori darajadagi tillar, internet texnologiyalari, tarmoq texnologiyalari va tarmoqni tashkillashtirish, axborot xavfsizligi, temir yo`l transportida axborot texnologiyalari va x.k.
  .kafedra__dirs
    .kafedra__dir
     h2.title Bakalavriat:
     .kafedra__dir-info
      .kafedra__dir-info__title 5330200     Axborot tizimlari va texnologiyalari (transportda)
      each bachelor in [' Аxborot texnologiyalari va jarayonlarni matematik modella', 'Tizimli dasturiy taʼminot', 'Dasturlash tillari va texnologiyalari   (C#, Python)', 'Elektronika asoslari', 'raqamli texnika va mikroprotsessorlar', 'Maʼlumotlar va bilimlar banki', 'Multimedia tizimlari va   texnologiyalari', 'Sonli usullar va MatLab tizimida dasturlash', 'Аxborot xavfsizligi va axborotni himoyalash', 'Korporativ axborot tizimlari',   'WEB-texnologiyalari', 'Temir yoʼl transportida axborot tizimlari', 'Temir yoʼl transportida intellektual axborot tizimlari va ularni loyihalash',   'Kompyuter tarmoqlari va tarmoq texnologiyalari', 'Obyektga yoʼnaltirilgan dasturlash tili (Java, Android)', 'Operatsion tizimlar']
        li.kafedra__dir-info__list= bachelor
    .kafedra__dir
     h2.title Magistatura:
     .kafedra__dir-info
      .kafedra__dir-info__title 5А330204 Axborot  texnologiyalari (sohalar bo’yicha)
      each magistr in ['Soʼrov metodologiyasi asoslari', 'Temir yoʼl transportida geoinformatsion tizimlar', 'Tizimlarni tahlil qilish va maʼlumotlar   bazasini loyixalash', 'Web dasturlash va loyihalashtirish', 'Obyektga moʼljallangan dasturlash va toʼplam axborotlarni loyihalashtirish', 'Temir yoʼl   tarmogʼida aqlli transport tizimlari', 'Temir yoʼl transportidagi xatarlarni boshqarish texnologiyalari']
        li.kafedra__dir-info__list= magistr
  h2.title Statistika
  .statistic
    .statistic-block
     .statistic__learn
      i.fad.statistic__icon1
      p.statistic__text O’quv jarayonidagi talabalar soni
      p.statistic__num 500
    .statistic-block
     .statistic__learn
      i.fad.statistic__icon2
      p.statistic__text Bitiruvchi talabalar soni
      p.statistic__num 500
    .statistic-block
     .statistic__learn
      i.fad.statistic__icon3
      p.statistic__text Bitirgan talabalar soni
      p.statistic__num 500