section.slider
 button(data-target="prev").slider__prev
 button(data-target="next").slider__next
 .slider__inner 
  .slider__item.active
   img(src="images/img_1.webp", alt="afrosiyob").slider__img 
  .slider__item
   img(src="images/img_2.webp", alt="afrosiyob").slider__img 
  .slider__item
   img(src="images/img_3.webp", alt="afrosiyob").slider__img 
  .slider__item
   img(src="images/img_4.webp", alt="afrosiyob").slider__img 
  .slider__item
   img(src="images/img_5.webp", alt="afrosiyob").slider__img 
  .slider__item
   img(src="images/img_6.webp", alt="afrosiyob").slider__img 
