html(lang="en")
 include views/layout/head.pug
 body 
    include views/layout/header.pug
    include views/components/slider.pug
    include views/components/main.pug
    include views/components/content.pug
    include views/components/kafedra.pug
    include views/components/news.pug
    include views/components/contact.pug
    include views/layout/footer.pug

    script(src="scripts/common.min.js") 
